{% extends "base.html" %} {% block content %}

<div class="book_detail_container">
  <div class="book_detail">
    <div class="book_detail_cover">
      {% if book.cover %}
      <img src="{{ book.cover.url }}" alt="{{ book.title }}" />
      {% else %}
      <div class="detail_no_cover">No cover available.</div>
      {% endif %}
    </div>

    <div class="book_detail_info">
      <h1>{{ book.title }}</h1>

      <h2>Author: {{ book.author }}</h2>

      <div class="book_categories">
        <h3>Categories</h3>

        <div class="category_list">
          {% for category in book.categories.all %}
          <span class="category"> {{ category.name }} </span>
          {% empty %}
          <span>No categories.</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="book_detail_actions">
    <a href="{% url 'books:edit_book' book.id %}">
      <button type="button">EDIT</button>
    </a>

    <form
      method="POST"
      action="{% url 'books:delete_book' pk=book.id %}"
      onsubmit="return confirm('Are you sure you want to delete this book?');"
    >
      {% csrf_token %}
      <button type="submit">DELETE</button>
    </form>

    <a href="{% url 'books:user_book' %}">
      <button type="button">RETURN TO BOOKS</button>
    </a>
  </div>
</div>

{% endblock %}
