{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>BOOKSHELF</title>
  </head>

  <body>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}

    <nav class="nav_bar">
      <a href="{% url 'home' %}" class="nav_link"> Home </a>

      {% if not user.is_authenticated %}

      <a href="{% url 'users:register' %}" class="nav_link"> Register </a>

      <a href="{% url 'users:login' %}" class="nav_link"> Login </a>

      {% else %}

      <a href="{% url 'books:user_book' %}" class="nav_link"> My Books </a>

      <a href="{% url 'books:add_book' %}" class="nav_link"> Add Book </a>

      <a href="{% url 'users:profile' %}" class="nav_link"> Profile </a>

      <a href="{% url 'users:logout' %}" class="nav_link"> Logout </a>

      {% endif %}
    </nav>

    <main class="{% block main_class %}{% endblock %}">
      {% block content %} {% endblock %}
    </main>

    <footer>
      <p>Have fun collecting books.</p>
    </footer>
  </body>
</html>
