{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Book Shelf</title>
  </head>
  {% for message in messages%}
  <p>{{message}}</p>
  {% endfor%}
  <body>
    <div class="nav_bar">
      <a href="{% url 'home' %}" class="nav_link">home</a>
      <a href="{% url 'users:profile' %}" class="nav_link">profile</a>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
